@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Inter, sans-serif;
}

body {
    min-width: 320px;
}


/* Heading and logos  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
}

#nav-menu {
    display: flex;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    margin: 10px;
    text-decoration: none;
    font-size: 110%;
    color: black;
}

.active {
    border: 1px solid black;
    padding: 5px;
    background-color: #E6E6FA;
    box-shadow: 1px 1px grey;
}


/* Media Queries  */

/* For Medium sized screens, 950px wide and down  */
@media screen and (max-width: 950px) {
    #nav-menu {
        width: auto;
        margin: auto;
        font-size: 49%;
    }
    header {
        flex-direction: column;
        padding: 2%;
    }

    .active {
        padding: 4%;
    }
}

