@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}

body {
    min-width: 320px;
}

/* Heading and logos  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    z-index: 999;
}

/* Navigation links  */

#nav-menu {
    display: flex;
    list-style-type: none;
    margin-right: 30px;
    flex-wrap: wrap;
}

#nav-menu a {
    margin: 10px;
    text-decoration: none;
    font-size: 110%;
    color: black;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#nav-menu a:hover {
    border: 1px solid black;
    padding: 5px;
    background-color: #E6E6FA;
    box-shadow: 1px 1px grey;
}

.active {
    border: 1px solid black;
    padding: 5px;
    background-color: #E6E6FA;
    box-shadow: 0px 1px 3px grey;
}

/* Landing Page  */

/* Symptoms Section */

#symptom-container>img {
    object-fit: cover;
    height: 50%;
    width: 50%;
}

#symptom-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 10px auto;
}

#symptom-text>figcaption {
    font-weight: bold;
    margin: 10px 0;
}

#symptom-text {
    margin-left: 20px;
    letter-spacing: 2px;
}

#symptom-text p {
    margin-bottom: 10px;
}

/* Partners Section */

#partner-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.404);
}

#partner-section {
    text-align: center;
}

#partner-content img {
    height: 100%;
    width: 12%;
    object-fit: contain;
}

/* About Me Section */

#about-container>img {
    object-fit: contain;
    height: 50%;
    width: 50%;
}

#about-container {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

#about-text>figcaption {
    font-weight: bold;
    margin: 10px 0;
}

#about-text {
    text-align: right;
    margin-right: 20px;
    letter-spacing: 2px;
}

#about-text p {
    margin-bottom: 10px;
}

/* Form Response */

#form-response-container {
    height: 100vh;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #E6E6FA;
}

#form-response-content {
    background-color: rgba(63, 104, 63, 0.795);
    width: 90%;
    margin: 0 auto;
    padding: 10% 10px;
    font-size: 90%;
}

#form-response-content p {
    margin: 10px;
}

/* Footer  */

.footer-content {
    border-top: 1px solid black;
    margin-top: auto;
    background-color: #f5f5f5;
}

.footer-top {
    display: flex;
    justify-content: space-evenly;
    font-size: 110%;
    padding: 10px;
}

.footer-top h3 {
    padding: 10px;
    text-align: center;
}

#opening-hours {
    display: flex;
    flex-direction: column;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 110%;
    width: 100%;
    padding-bottom: 5px;
    text-align: center;
}

.footer-bottom a {
    margin-bottom: 30px;
    color: black;
    text-decoration: none;
}

.footer-bottom p a:hover {
    color: #32CD32;
    text-decoration: underline;
}

td {
    padding: 10px;
}

/* General styles for repeated use */

/* For titles  */
.title {
    padding: 10px;
}

/* Link to Email  */
.email {
    text-decoration: none;
    color: inherit;
}

.email:hover {
    text-decoration: solid underline;
    color: #32CD32;
}

/* Link to Phone */

.phone {
    text-decoration: none;
    color: inherit;
}

.phone:hover {
    text-decoration: solid underline;
    color: #32CD32;
}

/* Displays various lists of information */

#information-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#information-container div {
    margin: 10px auto;
    border-top: 2px solid #32CD32;
    border-bottom: 2px solid #32CD32;
    padding: 10px;
}

details {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
}

summary {
    background-color: #f5f5f5;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0px 2px 3px grey;
}

details p {
    margin: 10px auto;
    font-size: 1rem;
}


details ul li {
    list-style: circle;
    margin-left: 20px;
    font-size: 1.2rem;
    margin-top: 5px;
}


/* Hero-Image  */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-img {
    height: 600px;
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    object-fit: contain;
    z-index: 1;
    background-color: #E6E6FA;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.cover-text {
    font-size: 130%;
    letter-spacing: 2px;
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 10px;
    background-color: rgba(63, 104, 63, 0.795);
    bottom: 30px;
    left: 10%;
    position: absolute;
    color: #E6E6FA;
}

#cover-text-two {
    display: flex;
    align-items: center;
}

/* Button */

.button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #90EE90;
    box-shadow: 0px 2px 3px grey;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #32CD32;
    color: black;
}

.button-return {
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    background-color: #E6E6FA;
    box-shadow: 0px 2px 3px grey;
    text-decoration: none;
}

.button-return:hover {
    padding: 6px;
    background-color: #E6E6FA;
}

/* Contact */

.form-section {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #E6E6FA;
}

.form-input {
    border: 1px solid grey;
    border-radius: 2px;
    margin: 5px 0 20px 0;
    cursor: pointer;
}

.form-button {
    padding: 10px;
    cursor: pointer;
    background-color: #90EE90;
    box-shadow: 0px 2px 3px grey;
    width: 33%;
}

.form-button:hover {
    background-color: #32CD32;
}

/* Media Queries  */

/* For Large sized screens, 2600px wide and down  */

@media screen and (max-width: 2600px) {
    .hero-img-landing {
        background: url(../images/hero-img-landing-large.jpg) no-repeat center center;
    }

    .hero-img-treatment {
        background: url(../images/hero-img-treatment-xl.jpg) no-repeat center center;
    }

    .hero-img-symptom {
        background: url(../images/hero-img-symptom-large.jpg) no-repeat center center;
    }

    .hero-img-contact {
        background: url(../images/hero-img-contact-large.jpg) no-repeat center center;
    }
}

/* For Large sized screens, 1440px wide and down  */

@media screen and (max-width: 1440px) {
    .hero-img-treatment {
        background: url(../images/hero-img-treatment-large.jpg) no-repeat center center;
    }
}

/* For Medium sized screens, 950px wide and down  */
@media screen and (max-width: 950px) {
    #nav-menu {
        margin: auto;
        font-size: 1rem;
        line-height: 2;
        justify-content: center;
    }

    #nav-menu a:hover {
        padding: 3px;
    }

    header {
        flex-direction: column;
        padding: 2%;
    }

    .active {
        padding: 2px;
    }

    #symptom-container {
        display: flex;
        flex-direction: column;
        margin: 5px 0px;
    }

    #symptom-text {
        margin: 0 5px;
    }

    #symptom-text p {
        margin-bottom: 5px;
    }

    #symptom-container>img {
        min-height: 100%;
        min-width: 100%;
    }

    #about-container {
        display: flex;
        flex-direction: column;
        margin: 5px 0px;
    }

    #about-text {
        margin: 0 5px;
        margin-right: 5px;
    }

    #about-text p {
        margin-bottom: 5px;
    }

    #about-container>img {
        min-height: 100%;
        min-width: 100%;
    }

    #cover-text-small-screen {
        left: auto;
        width: auto;
    }

    .footer-top {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .footer-top div {
        padding: 10px;
        line-height: 2;
    }

    .footer-top h3 {
        text-align: start;
    }

    td {
        padding: 3px;
    }

    #opening-hours {
        align-items: flex-start;
    }

    .hero-img-landing {
        background: url(../images/hero-img-landing-small.jpg) no-repeat center center;
    }

    .hero-img-treatment {
        background: url(../images/hero-img-treatment-small.jpg) no-repeat center center;
    }

    .hero-img-symptom {
        background: url(../images/hero-img-symptom-small.jpg) no-repeat center center;
    }

}